::placeholder {
    color: rgb(9, 14, 114);
}

body {
    margin: 0px;
}

#center {
    text-align: center;
}

#unreg_main_header {
    position: absolute;
    left: 510px;
    font-size: 64px;
    color: rgb(9, 14, 114);
    text-transform: uppercase;
}

#main_header {
    position: absolute;
    left: 255px;
    font-size: 64px;
    color: rgb(9, 14, 114);
    text-transform: uppercase;
}

#unreg_caption_after_main_header {
    position: absolute;
    padding-top: 31px;
    padding-left: 921px;
    font-size: 30px;
    color: rgb(9, 14, 114);
}

#caption_after_main_header {
    position: absolute;
    padding-top: 31px;
    padding-left: 666px;
    font-size: 30px;
    color: rgb(9, 14, 114);
}

#upper_header {
    font-size: 36px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

#caption {
    color: white;
    padding-left: 13px;
    font-size: 32px;
}

#more_big_caption {
    color: white;
    font-size: 36px;
}

#appearance_features_caption {
    margin-top: 20px;
    margin-left: 350px;
    color: rgb(8, 0, 100);
    font-size: 36px;

}

#content_block {
    padding-top: 100px;
    text-align: center;
}

#photos_block {
    margin-left: 350px;
    width: 1100px;
}

#reviews_block {
    margin-top: 20px;
    margin-left: 350px;
    width: 1100px;
    font-size: 36px;
}

#review_date {
    color: rgb(8, 0, 100);
    font-size: 36px;
    display: inline;
}

#review_verification_button,
#leave_review {
    margin-right: 40px;
    margin-bottom: 0px;
}

#profile_data_us {
    font-size: 36px;
    color: rgb(5, 0, 255);
}

#scroll_ribbon {
    margin-left:620px;
}

#nickname {
    font-size: 24px;
    color: rgb(108, 108, 108);
}

input[type="q"] {
    color: rgb(9, 14, 114);
    background-color: rgb(217, 217, 217);
    height: 49px;
    width: 355px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 40px;
    border: 0 none;
}

input[type="file"] {
    margin-bottom: 15px;
}

button[type="q_button"] {
    height: 50px;
    width: 49px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: -5px;
    margin-top: 3px;
    border: 0 none;
}

button[type="usual_button"] {
    height: 71px;
    font-size: 36px;
    color: rgb(5, 0, 255);
    border-width: 2px;
    background-color: rgb(217, 217, 217);
    margin-bottom: 40px;
}

button[type="log_out_button"] {
    height: 45px;
    width: 200px;
    font-size: 36px;
    color: rgb(5, 0, 255);
    border-width: 2px;
    background-color: rgb(217, 217, 217);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: 550px;
}

button[type="registration_button"] {
    height: 125px;
    font-size: 36px;
    color: rgb(5, 0, 255);
    border-width: 2px;
    background-color: rgb(217, 217, 217);
    margin-bottom: 40px;
}

button[type="chapter_selector"] {
    width: 270px;
    height: 45px;
    font-size: 36px;
    color: rgb(5, 0, 255);
    border-width: 2px;
    background-color: rgb(217, 217, 217);
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

button[type="download_button"] {
    width: 270px;
    height: 45px;
    font-size: 36px;
    color: rgb(5, 0, 255);
    border-width: 2px;
    background-color: rgb(217, 217, 217);
    margin-left: 285px;
    margin-top: -70px;
}

button[type="width_expanded_button"] {
    width: 100%;
    height: 45px;
    font-size: 36px;
    color: rgb(5, 0, 255);
    border-width: 2px;
    background-color: rgb(217, 217, 217);
}

img[type="q_image"] {
    height: 49px;
    width: 49px;
}

table[type="header_block"] {
    padding-left: 501px;
    padding-top: 70px;
}

table[type="login_and_password"] {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

table[type="chapters"] {
    padding-left: 261px;
    padding-top: 85px;
}

table[type="whole_profile"] {
    margin-left: 250px;
}

td[type="align_right"] {
    text-align: right;
}

td[type="align_center"] {
    text-align: center;
}

td[type="input_box"] {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

td[type="left_profile_part"] {
    vertical-align: top;
    width: 400px;
}

td[type="right_profile_part"] {
    width: 880px;
}

input[type=number],
input[type=text] {
    color: rgb(9, 14, 114);
    height: 45px;
    width: 360px;
    font-size: 36px;
}

input[type=submit] {
    height: 45px;
    font-size: 36px;
    color: rgb(5, 0, 255);
    border-width: 2px;
    background-color: rgb(217, 217, 217);
    margin-bottom: 40px;
}

select {
    font-size: 36px;
    color: rgb(9, 14, 114);
    width: 370px;
}

form[type="features"] {
    display: inline;
    height: 5px;
}

ul{
    padding: 0px;
    display: inline;
}

select:disabled {
    opacity: 10.0;
}

img[type="photo"] {
    margin-left: 40px;
    margin-top: 40px;
}